<!DOCTYPE html>
<html ng-app="progressdemo">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" data-semver="3.1.1" data-require="bootstrap-css@3.1.1" />
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link href="style.css" rel="stylesheet" />
    <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js" data-require="angular.js@1.2.x"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" data-semver="3.1.1" data-require="bootstrap@*"></script>
        <script src="progressBar.js"></script>
    <script src="app.js"></script>

  </head>

  <body ng-controller="MainCtrl">
    <div class="jumbotron">
      <div class="row">
			  <div class="col-lg-6">
			    <h3>Progress Bar Demo</h3>
			    <!--ng-progressbar directive -->
				  <ng-progressbar type="success" max="{{max_count}}" start="{{timer_running}}" on-stop="stopProgress()"></ng-progressbar> 
			  </div>
	
			  <button class="btn btn-success" ng-click="startProgress()">Start Timer</button>
			  <button class="btn btn-warning" ng-click="stopProgress()">Stop Timer</button>
		  </div>
		  <div class="row">
		    <br />
		    <span class="label label-success" ng-if="timer_running">Timer Running</span>
			  <span class="label label-danger" ng-if="!timer_running">Timer Stopped</span>
			</div>
		</div>
  </body>

</html>
